* {
    margin: 0;
    padding: 0;
    font-family: "Exo", sans-serif;
    box-sizing: border-box;
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    color: unset;
  }
  
  .container {
    display: block;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
  }

/* start feature-serction */
.feature-serction {
    padding: 100px 0 70px;
    position: relative;
    background: #eef7ff;
  }
  
  .feature-serction .container .main-feature {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px; */
  }
  
  .feature-serction .container .main-feature .one-featureselection{
    flex: 0 0 auto;
    width: 33.33%;
    padding: 15px;
  }
  
  .feature-serction .container .main-feature .one-featureselection .inner-featureselection{
    padding: 29px 40px 102px;
    background-color: #041c33;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .feature-serction .container .main-feature .one-featureselection .inner-featureselection::before{
    position: absolute;
    left: 0;
    top: 90px;
    height: 1px;
    width: 100%;
    content: '';
    z-index: 1;
    background: #ffffff40;
  }
  .feature-serction .container .main-feature .one-featureselection .inner-featureselection .top-title{
    display: flex;
    justify-content: space-between;
    padding: 0px 0 49px;
  }
  .feature-serction .container .main-feature .one-featureselection .inner-featureselection .top-title .head-tilte h2{
    margin: 0;
    transition: 0.5s;
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
    line-height: 31px;
    font-family: "Unbounded";
    font-style: normal  
  }
  .feature-serction .container .main-feature .one-featureselection .inner-featureselection .botton-tilte ul{
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  .feature-serction .container .main-feature .one-featureselection .inner-featureselection .botton-tilte  li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Unbounded";
    border-bottom: 1px dashed #ffffff52;
    padding-top: 12px;
    padding-bottom:11px;
    font-size: 13px;
    color: #ffffff;
    font-family: "Unbounded";
    list-style: none;
  }
  .feature-serction .container .main-feature .one-featureselection .inner-featureselection .botton-tilte p{
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #ffffff;
    font-family: "Unbounded";
    list-style: none;
  }
  
  .feature-serction .container .main-feature .one-featureselection .inner-featureselection .hover-bx {
    left: 0;
    transition-delay: 0.105s;
    border-radius: 20px 0 0px 20px;
  }
  .hover-bx2 {
    left: 25%;
    transition-delay: 0.105s;
  }
  
  .hover-bx3 {
    left: 50%;
    transition-delay: 0.105s;
  }
  
  .hover-bx4 {
    left: 75%;
    transition-delay: 0s;
    border-radius: 0 20px 20px 0;
  }
  
  .mediket-hover-box {
    background-color: #0495ff;
    height: 100%;
    top: 0;
    /* opacity: 0;  */
    position: absolute;
    transform: scale(0);
    transition: all 0.5s ease 0s;
    width: 25%;
    z-index: -1;
  }
  .inner-featureselection:hover .mediket-hover-box {
    opacity: 1;
    transform: scale(1);
  }
  .feature_list_icon {
    margin: 14px 0 29px;
  }
  .feature_list_icon img{
    vertical-align: middle;
  }
  .feature-content span.experts {
    display: inline-block;
    transition: 0.5s;
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
  }
  .feature-content h4{
    transition: 0.5s;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 7px 0 0;
  }
  .feature-content h4 span {
    transition: 0.5s;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Open Sans";
    margin-left: 10px;
  }
  .feature-content .feature-btn2{
    margin-top: 38px;
    font-size: 17px;
  }

  /* .feature-btn2::before{
    content: " ";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(5deg);
    background: #dceaa2;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }

  .feature-btn2:hover::before {
    width: 105%;
    color: #FFFBFA;
  }
  .feature-btn2 a{
    color: black;
  } */

  .feature-btn2 a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 22px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 8px 38px;
    text-decoration: none;
  }
  .feature-shape {
    position: absolute;
    bottom: -40px;
    right: -30px;
  }
  .bounce-animate{
    animation-name: float-bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes float-bob {
    0% {
      
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(-30px);
    }
  }
  
  .feature-content p {
    font-size: 16px;
    line-height: 26px;
    color: #041c33;
    font-weight: 400;
    font-family: "Open Sans";
    padding: 15px 0 13px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 1rem;
    color: wheat;
  }
  .call_info {
    gap: 20px;
    display: flex;
    align-items: center;
  }
  
  .call-info_info i {
    width: 56px;
      height: 56px;
      border-radius: 28px;
      background-color:white;
      line-height: 56px;
      text-align: center;
      color: black;
      font-size: 16px;
      position: relative;
      z-index: 1;
      transition: 0.5s;
    }
    .call-info_info i::after {
      position: absolute;
      content: '';
      left: 0;
      top: 50%;
      right: 0;
      height: 30px;
      width: 30px;
      border: 2px solid black;
      text-align: center;
      margin: auto;
      transform: translateY(-50%);
      border-radius: 50%;
      transition: 0.5s;
    }
    .call-info_text span {
      font-size: 14px;
      color: white;
      font-weight: 400;
      position: relative;
      z-index: 1;
      padding-left: 18px;
    }
    .call-info_text span::before {
      position: absolute;
      content: '';
      left: 0;
      top: 11px;
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color:white;
      transition: 0.5s;
    }
    .call-info_text h5 {
      font-size: 16px;
      color: white;
      font-weight: 400;
      font-family: "Unbounded";
      margin: 4px 0 0;
      font-style: normal;
      line-height: 1.2;
    }
    .feature-btn3 a{
      display: inline-block;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 22px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    border: 1px solid #fff;
    padding: 8px 38px;
    text-decoration: none
    }
     .feature-btn3 {
      margin-top: 50px;
    }
  /* end feature-serction */
  